.home-bag{
  background-image: url(./home-bag.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}
.home_text {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.home_p {
  color: #222;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  /* line-height: 3rem; */
}
.home-img {
  width: 80%;
}
.home-para {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
}
.home-btn-two {
  padding: 12px 30px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007bff;
  font-size: 1.3rem;
}
.home-btn-two:hover {
  background-color: rgb(55, 109, 148);
  transition: 0.5s;
  color: #fff;
}
.home_icon {
  margin-right: 1rem;
}
/* Media Quires start here */
@media screen and (max-width: 1101px) {
 
  .home-img {
    width: 80%;
    padding-left: 4rem;
  }
  .home_text {
    color: #57a7d2;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .home_p {
    color: #222;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 3rem;
  }
}
@media screen and (max-width: 554px) {
  .home-btn-one {
    padding: 10px 25px;
    margin-right: 3rem;
  }
  .home-btn-two {
    padding: 12px 25px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 463px) {
  .home-btn-one {
    padding: 5px 15px;
    margin-right: 2rem;
  }
  .home-btn-two {
    padding: 5px 15px;
  }
}
/* video css start here */

