
.main_div{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    background-color: #6415ff;
    align-items: center;
}
.nav-logo{
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
   font-weight: 600;
}
ul li {
    list-style: none;
}
ul li a
{
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
}
.button-one{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 1rem;
    color: #6415ff;
    font-size: 1rem;
    cursor: pointer;

}
.button-two{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;  
    color: #6415ff;
    font-size: 1rem;
    cursor: pointer;
}

.mobile{
    display: none;
}

/* Media Quires start here */
@media screen and (max-width: 820px) {
    .button-one{
        padding: 7px 15px;
        margin-right: 1rem;
    }
    .button-two{
        border: none;
        padding: 7px 15px;
        border-radius: 5px;  
        color: #6415ff;
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 787px){
    ul li a
    {
        padding-left: 1rem;
        
    }
  }
  @media screen and (max-width: 734px){
    .button-one{
        padding: 5px 10px;
        margin-right: 1rem;
    }
    .button-two{
        padding: 5px 10px;
    }
    .nav-logo{
        font-size: 1.5rem;
       font-weight: 400;
    }
  }
  @media screen and (max-width: 798px){
    .button-one{
        padding: 5px 10px;
        margin-right: 1rem;
    }
    .button-two{
        padding: 5px 10px;
    }
    .nav-logo{
        font-size: 1.5rem;
       font-weight: 400;
    }
  }
  @media screen and (max-width: 727px){
    ul li a
    {
 display: none;        
    }
  }
  @media screen and (max-width: 445px){
    .nav-logo{
        font-size: 1.5rem;       
    }
  }
  @media screen and (max-width: 376px){
    .button-one{
        padding: 5px 10px;
        margin-right: 1rem;
    }
    .button-two{
        padding: 5px 10px;
    }
 
  }