.status_btns{
    background-color: #5500ff;
    border: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 10px 3rem;
    width: 100%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-bottom: 10px;
}

.status_checkbox{
    padding: 10px 2rem;
    width: 100%;
    background-color: #5500ff;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.content-container{
display: none;
}
.sidebar_line{
    border-right: 1px solid black;
    height: 100%;
}
.sidebar_line ul li {
    border-bottom: 1px solid black;
    padding-bottom: 0.7rem;
}
.sidebar-icon{
    color: #5500ff;
}
.sidebar-logout{
    display: flex;
    justify-content: center;
}