.slick-container{
  padding: 5rem;
  background-color: #2a7cc7;
  height: 100vh;
  width: 100%;
}
.box{
  background-color: #ffffff;
  height: 300px;
  border-radius: 10px;
}
.box h3 {
  text-align: center;
}
.slick-slide div {
  margin: 0 1rem;
}
.slick-next{
  right: -40px;
}
.slick-dots li.slick-active button::before{
  color: #fff;
}
.slick-dots li button::before {
  color: #fff;
  font-size: 1rem;
  top: 2rem;
}
.slick-next:before {
  content: '→';
}
.slick-prev:before {
  content: '←';
}
.slick_top{
text-align: center;
color: #fff;
}
.slick_top_para{
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
.slick_text{
  text-align: center;
  padding-top: 20px;


}
.slick-p{
  text-align: center;
  padding-top: 20px;

}
.slick_card_text{
  text-align: center;
  padding-top: 20px;
}