.footer_root{
    background-color:#edf2f7;

}

.footer_container{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.footer_email{
    width: 250px;
    border: 2px solid #c0dbea;
    border-radius: 20px;
    padding: 7px;
}
.footer_btn{
    padding: 8px 30px;
    background-color: #2a7cc7;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
}
.footer_line{
    border: 2px solid #2a7cc7;
    width: 80%;
    align-items: center;
    border-radius: 5px;
   align-items: center;
   margin-bottom: 1rem;
   margin: 0 auto;
   
}

.footer-text-h2{
    color: #2a7cc7;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 660;
}
.span-t{
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    background-color: #2a7cc7;
    padding: 0 .6rem;
    border-radius: 5px;
}
.footer-p-one{
font-weight: bold;  
font-size: 1rem;
margin-bottom: 15px;
}
.footer-p-two{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.email-p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-heding-two{
    color: #2a7cc7;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.footer-text-list{
    line-height: 1.5rem;
    padding-left: 10px;
}
.footer-heding-three{
    color: #2a7cc7;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: 600;

}
.footer_last-item{
    display: flex;
   padding-bottom: 1rem;
}
.footer-icon{
    color: #2a7cc7;
}
.footer_last{
    display: flex;
    justify-content: flex-start;
    padding-left: 8rem;
}
.last-p{
    font-family: 'Poppins', sans-serif;
    font-weight: 580;
}
.footer-icon-img{
    width: 8%;
}
.footer-icon-last{
    color: #2a7cc7;
    border-radius: 50px;
    margin-left: 1rem;
    cursor: pointer;
}

.copyright{
    background-color: #2a7cc7;
    margin-top: 1rem;
    color: #fff;
    text-align: center;
}



/* Media Quires start here */
@media screen and (max-width: 1101px){
    .footer_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .footer_line{
       display: none;
    }
   }
@media screen and (max-width: 965px){
    .footer_line{
      display:none ;
    }
   }
   @media screen and (max-width: 1101px){
    .footer-copyright{
        display: flex;
      flex-wrap: wrap;
    }
   }