.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./img11.jpeg');
  background-size: cover;
  background-position: center;
}

input[type="email"], input[type="password"] {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}



.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
 font-family:sans-serif;
 text-align: center;
 font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.id_btn{
  background-color: #5600ff;
  border: none;
  color: #fff;
  width:96%;
  height: 6vh;
  margin-top: 1rem;
  border-radius: 7px;
}
.form_text{
  font-weight: 500;
}
/* .input_text {
  width: 500px;
  height: 60px;;
     border-radius: 0;
} */
@media (max-width: 600px) {
  .form-email {
    width: 70%;
  }
}